name: Run actionlint
on:
  - push
  - pull_request
  - workflow_dispatch

jobs:
  actionlint:
    name: Run actionlint
    runs-on: ubuntu-latest
    # Only handle push events from the main branch or tags, to decrease PR noise
    if: github.ref_name == github.event.repository.default_branch || github.event_name != 'push' || github.ref_type == 'tag'

    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: actionlint
        uses: raven-actions/actionlint@v2
        with:
          # overly pedantic quoting requirements
          flags: -ignore SC2046 -ignore SC2086
