name: Go checkout and build

on:
  workflow_call:
    inputs:
      artifact-id:
        required: true
        type: string

jobs:
  run:
    name: Checkout and build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Show Go version
        run: go version

      - name: Build the program
        run: make target/${{ inputs.artifact-id }}

      - name: Run the tests
        run: make test

      - name: Upload coverage reports
        uses: actions/upload-artifact@v5
        with:
          name: coverage
          path: src/coverage.*
          retention-days: 1
