name: Go lint staticcheck

on:
  workflow_call:

jobs:
  staticcheck:
    name: Lint with staticcheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Run staticcheck
        uses: dominikh/staticcheck-action@v1
        with:
          version: "2025.1"
          install-go: false
