name: Go lint golangci

on:
  workflow_call:
    inputs:
      golangci-config-file:
        required: false
        type: string

jobs:
  golangci:
    name: Lint with golangci-lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          # the go version for golangci-lint, not the go version for our module
          go-version: 'stable'

      - name: Checkout folio-org/folio-tools
        uses: actions/checkout@v4
        with:
          repository: folio-org/folio-tools
          path: folio-tools
          fetch-depth: 1

      - name: Determine golangci-lint arguments
        run: echo golangci_args=$(./folio-tools/github-actions-scripts/go-golangci-lint-args.sh) | tee -a $GITHUB_ENV
        env:
          CONFIG_FILE: ${{ inputs.golangci-config-file }}

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          # The golangci-lint version
          version: v2.1
          args: ${{ env.golangci_args }}

