name: Maven Docker build and publish

on:
  workflow_call:
    inputs:
      is-release:
        required: true
        type: string
      is-main-branch:
        required: true
        type: string
      artifact-id:
        required: true
        type: string
      artifact-version:
        required: true
        type: string
      docker-registry:
        required: true
        type: string
      do-docker-push:
        required: true
        type: string
      docker-label-documentation:
        required: false
        type: string
    secrets:
      dockerhub-username:
        required: true
      dockerhub-token:
        required: true

jobs:
  run:
    name: Docker build and publish
    runs-on: ubuntu-latest

    steps:
      - name: Notify whether doing docker push
        run: |
          if ${{ inputs.do-docker-push == 'True' }}; then
            echo "Will do docker build and push, i.e. publish=true" | tee -a $GITHUB_STEP_SUMMARY
          else
            echo "Will do docker build, but will not push, i.e. publish=false" | tee -a $GITHUB_STEP_SUMMARY
          fi

      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Ensure .dockerignore file
        run: |
          cat > .dockerignore2 << EOF
          *
          !Dockerfile
          !docker*
          !target/*.jar
          EOF
          if ! [ -e .dockerignore ]; then
            echo "Missing .dockerignore file. Creating default." | tee -a $GITHUB_STEP_SUMMARY
            mv .dockerignore2 .dockerignore
          fi

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.dockerhub-username }}
          password: ${{ secrets.dockerhub-token }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ inputs.docker-registry }}/${{ inputs.artifact-id }}
          labels: |
            org.opencontainers.image.title=FOLIO ${{ inputs.artifact-id }}
            org.opencontainers.image.documentation=${{ inputs.docker-label-documentation }}
            org.opencontainers.image.vendor=The Open Library Foundation
            org.opencontainers.image.licenses=Apache-2.0
          tags: |
            type=raw,value=latest
            type=raw,value=${{ inputs.artifact-version }}

      - name: Download target jars artifact
        uses: actions/download-artifact@v7
        with:
          name: built-jars
          path: target

      - name: Show contents of target directory
        run: ls -R target

      - name: Prepare the Docker test tag
        run: |
          echo "docker-test-tag=folioci/${{ inputs.artifact-id }}:test" | tee -a $GITHUB_ENV
          echo "docker-health-command='wget --no-verbose --tries=1 --spider http://localhost:8081/admin/health || exit 1'" | tee -a $GITHUB_ENV

      - name: Build and test Docker image
        id: build-test
        run: |
          echo "Building image ${{ env.docker-test-tag }} ..."
          docker build --pull=true --no-cache=true -t ${{ env.docker-test-tag }} .
          echo "Starting container with health check ..."
          docker run --detach --health-timeout='2s' --health-retries=2 --cidfile docker_test.cid \
            --health-cmd=${{ env.docker-health-command }} ${{ env.docker-test-tag }} || exit 1
          echo "container=$(cat docker_test.cid)"

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
#          push: ${{ inputs.do-docker-push == 'True' }}
          push: false  # FIXME: Deliberate while developing Workflows.
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

