name: Maven report some variables

on:
  workflow_call:
    inputs:
      repo-name:
        required: true
        type: string
      is-release:
        required: true
        type: string
      is-main-branch:
        required: true
        type: string
      java-version:
        required: true
        type: string
      artifact-version:
        required: true
        type: string
      artifact-id:
        required: true
        type: string
      project-version:
        required: true
        type: string
      branch-name:
        required: true
        type: string
      repo-description:
        required: true
        type: string
      do-docker:
        required: true
        type: boolean
      publish-module-descriptor:
        required: true
        type: boolean
      allow-snapshots-release:
        required: true
        type: boolean
      docker-registry:
        required: true
        type: string
      do-docker-push:
        required: true
        type: string
      do-sonar-scan:
        required: true
        type: boolean

jobs:
  run:
    name: Report some variables
    runs-on: ubuntu-latest

    steps:
      - name: Show some variables
        run: |
          echo "repo-name=${{ inputs.repo-name }}"
          echo "is-main-branch=${{ inputs.is-main-branch }}"
          echo "github.ref=${{ github.ref }}"
          echo "is-release=${{ inputs.is-release }}" | tee -a $GITHUB_STEP_SUMMARY
          echo "java-version=${{ inputs.java-version }}"
          echo "allow-snapshots-release=${{ inputs.allow-snapshots-release }}"
          echo "artifact-id=${{ inputs.artifact-id }}" | tee -a $GITHUB_STEP_SUMMARY
          echo "project-version=${{ inputs.project-version }}" | tee -a $GITHUB_STEP_SUMMARY
          echo "artifact-version=${{ inputs.artifact-version }}"
          if [ "${{ inputs.is-release }}" == 'True' ] || [ "${{ inputs.is-main-branch }}" == 'True' ]; then
            echo "artifact-version=${{ inputs.artifact-version }}" | tee -a $GITHUB_STEP_SUMMARY
          fi
          echo "branch-name=${{ inputs.branch-name }}" | tee -a $GITHUB_STEP_SUMMARY
          echo "publish-module-descriptor=${{ inputs.publish-module-descriptor }}" | tee -a $GITHUB_STEP_SUMMARY
          echo "do-docker=${{ inputs.do-docker }}" | tee -a $GITHUB_STEP_SUMMARY
          if [ "${{ inputs.do-docker }}" == 'True' ]; then
            echo "do-docker-push=${{ inputs.do-docker-push }}" | tee -a $GITHUB_STEP_SUMMARY
          fi
          echo "docker-registry=${{ inputs.docker-registry }}"
          echo "repo-description=${{ inputs.repo-description }}"
          echo "do-sonar-scan=${{ inputs.do-sonar-scan }}" | tee -a $GITHUB_STEP_SUMMARY
          echo "Some other variables are reported to the run logs."
