name: Maven checkout and build

env:
  SONAR_VERSION: '5.5.0.6356'  # https://github.com/SonarSource/sonar-scanner-maven/releases

on:
  workflow_call:
    inputs:
      is-release:
        description: If we are on a tag vX.Y.Z, this will be "True", otherwise "False"
        required: true
        type: string
      is-main-branch:
        required: true
        type: string
      branch-name:
        required: true
        type: string
      java-version:
        required: true
        type: string
      artifact-version:
        required: true
        type: string
      allow-snapshots-release:
        required: true
        type: boolean
      docker-registry:
        required: true
        type: string
      sonar-exclusions:
        required: true
        type: string
    outputs:
      artifact-id:
        value: ${{ jobs.build.outputs.artifact-id }}
      has-module-descriptor:
        value: ${{ jobs.build.outputs.has-module-descriptor }}
      has-maven-apidocs:
        value: ${{ jobs.build.outputs.has-maven-apidocs }}
    secrets:
      SONAR_TOKEN:
        required: true # fails the check if the PR is from a fork

jobs:
  build:
    name: Checkout and build
    runs-on: ubuntu-latest

    outputs:
      artifact-id: ${{ steps.vars1.outputs.artifact-id }}
      has-module-descriptor: ${{ steps.discover-md.outputs.has-module-descriptor }}
      has-maven-apidocs: ${{ steps.discover-apidocs.outputs.has-maven-apidocs }}

    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          submodules: recursive

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: ${{ inputs.java-version }}
          distribution: 'temurin'

      - name: Cache Sonar packages
        uses: actions/cache@v5
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Maven packages
        uses: actions/cache@v5
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Gather some variables
        id: vars1
        run: |
          echo "artifact-id=$(mvn help:evaluate -Dexpression=project.artifactId -q -DforceStdout)" | tee -a $GITHUB_OUTPUT | tee -a $GITHUB_ENV
          echo "SHA_SHORT=$(git rev-parse --short HEAD)" | tee -a $GITHUB_ENV

      - name: Print module information to job summary
        run: |
          {
            echo "Head commit SHA: ${{ env.SHA_SHORT }}"
            echo "artifact-id: ${{ env.artifact-id }}"
            echo "artifact-version: ${{ inputs.artifact-version }}"
          } | tee -a $GITHUB_STEP_SUMMARY

      - name: Discover release dependencies that are snapshots
        if: ${{ inputs.is-release == 'True' }}
        run: mvn dependency:list | { grep -i snapshot | tee snapshots.txt || true; }

      - name: Report release dependencies that are snapshots
        if:  ${{ inputs.is-release == 'True' }}
        run: if ! ${{ inputs.allow-snapshots-release }} && [ -s snapshots.txt ]; then exit 1; fi

      - name: Maven build
        run: mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install org.jacoco:jacoco-maven-plugin:report

      - name: Format Sonar exclusions list
        id: format-exclusions
        run: echo formatted=$(tr -d '[:blank:]' <<< "${{ inputs.sonar-exclusions }}") | tee -a $GITHUB_OUTPUT

      - name: Run SonarCloud scan
        run: |
          if ${{ github.event_name == 'pull_request' }}; then
            echo "Do sonar for pull_request ..."
            mvn -B org.sonarsource.scanner.maven:sonar-maven-plugin:${{ env.SONAR_VERSION }}:sonar \
              -Dsonar.verbose=true \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.organization=folio-org \
              -Dsonar.projectKey=org.folio:${{ github.event.repository.name }} \
              -Dsonar.projectName=${{ github.event.repository.name }} \
              -Dsonar.exclusions=${{ steps.format-exclusions.outputs.formatted }} \
              -Dsonar.pullrequest.base=${{ github.base_ref }} \
              -Dsonar.pullrequest.branch=${{ inputs.branch-name }} \
              -Dsonar.pullrequest.key=${{ github.event.pull_request.number }} \
              -Dsonar.pullrequest.provider=github \
              -Dsonar.pullrequest.github.repository=${{ github.repository }}
          elif ${{ inputs.is-main-branch == 'True' }}; then
            echo "Do sonar for main branch ..."
            mvn -B org.sonarsource.scanner.maven:sonar-maven-plugin:${{ env.SONAR_VERSION }}:sonar \
              -Dsonar.verbose=true \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.organization=folio-org \
              -Dsonar.projectKey=org.folio:${{ github.event.repository.name }} \
              -Dsonar.projectName=${{ github.event.repository.name }} \
              -Dsonar.exclusions=${{ steps.format-exclusions.outputs.formatted }}
          else
            echo "Do sonar for other branch ..."
            git fetch --no-tags --no-recurse-submodules ${{ github.server_url }}/${{ github.repository }} \
              +refs/heads/${{ github.event.repository.default_branch }}:refs/remotes/origin/${{ github.event.repository.default_branch }}
            mvn -B org.sonarsource.scanner.maven:sonar-maven-plugin:${{ env.SONAR_VERSION }}:sonar \
              -Dsonar.verbose=true \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.organization=folio-org \
              -Dsonar.projectKey=org.folio:${{ github.event.repository.name }} \
              -Dsonar.projectName=${{ github.event.repository.name }} \
              -Dsonar.exclusions=${{ steps.format-exclusions.outputs.formatted }} \
              -Dsonar.branch.name=${{ inputs.branch-name }}
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Discover ModuleDescriptor
        id: discover-md
        run: |
          if test -f "target/ModuleDescriptor.json"; then
            echo "has-module-descriptor=True" | tee -a $GITHUB_OUTPUT | tee -a $GITHUB_STEP_SUMMARY
          else
            echo "has-module-descriptor=False" | tee -a $GITHUB_OUTPUT | tee -a $GITHUB_STEP_SUMMARY
          fi

      - name: Update ModuleDescriptor identifiers
        if: ${{ steps.discover-md.outputs.has-module-descriptor == 'True' }}
        run: |
          cd target
          mv ModuleDescriptor.json ModuleDescriptor.json.orig
          cat <<< $( \
            jq '. | .id |= "${{ env.artifact-id }}-${{ inputs.artifact-version }}" | if has("launchDescriptor") then
              .launchDescriptor.dockerImage |= "${{ inputs.docker-registry }}/${{ env.artifact-id }}:${{ inputs.artifact-version }}" |
              .launchDescriptor.dockerPull |= "true" else . end' ModuleDescriptor.json.orig \
          ) > ModuleDescriptor.json

      - name: Print ModuleDescriptor
        if: ${{ steps.discover-md.outputs.has-module-descriptor == 'True' }}
        run: cat target/ModuleDescriptor.json

      # we publish it to the registry as a separate job
      - name: Upload ModuleDescriptor as build artifact
        if: ${{ steps.discover-md.outputs.has-module-descriptor == 'True' }}
        uses: actions/upload-artifact@v6
        with:
          name: ModuleDescriptor.json
          path: target/ModuleDescriptor.json
          retention-days: 1

      - name: Upload fat jar as build artifact
        uses: actions/upload-artifact@v6
        with:
          name: fat-jar
          path: target/*-fat.jar

      - name: Discover maven built apidocs
        id: discover-apidocs
        run: |
          if test -d "target/apidocs"; then
            echo "has-maven-apidocs=True" | tee -a $GITHUB_OUTPUT
          fi

      - name: Upload apidocs as build artifact
        uses: actions/upload-artifact@v6
        if: ${{ steps.discover-apidocs.outputs.has-maven-apidocs == 'True' }}
        with:
          name: apidocs
          path: target/apidocs
