name: Deploy maven artifacts

on:
  workflow_call:
    inputs:
      java-version:
        required: true
        type: string
      artifact-id:
        required: true
        type: string
      version-number:
        required: true
        type: string
      project-version:
        required: true
        type: string
    secrets:
      nexus-username:
        required: true
      nexus-password:
        required: true

jobs:
  run:
    name: Deploy maven artifacts
    runs-on: ubuntu-latest

    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          submodules: recursive

      - name: Setup Java for Nexus
        uses: actions/setup-java@v5
        with:
          java-version: ${{ inputs.java-version}}
          distribution: 'temurin'
          server-id: folio-nexus
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD

      - name: Cache Maven packages
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven

      - name: Deploy to Nexus
        run: mvn --batch-mode deploy -DskipTests
        env:
          MAVEN_USERNAME: ${{ secrets.nexus-username }}
          MAVEN_PASSWORD: ${{ secrets.nexus-password }}
