name: Maven checkout and build

on:
  workflow_call:
    inputs:
      is-release:
        description: If we are on a tag vX.Y.Z, this will be "True", otherwise "False"
        required: true
        type: string
      java-version:
        required: true
        type: string
      allow-snapshots-release:
        required: true
        type: boolean
    outputs:
      artifact-id:
        value: ${{ jobs.build.outputs.artifact-id }}
      has-docker:
        value: ${{ jobs.build.outputs.has-docker }}
      has-maven-apidocs:
        value: ${{ jobs.build.outputs.has-maven-apidocs }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    outputs:
      artifact-id: ${{ steps.vars.outputs.artifact-id }}
      has-docker: ${{ steps.discover-docker.outputs.has-docker }}
      has-maven-apidocs: ${{ steps.discover-apidocs.outputs.has-maven-apidocs }}

    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: ${{ inputs.java-version }}
          distribution: "temurin"

      - name: Cache Maven packages
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven

      - name: Gather some variables
        id: vars
        run: |
          echo "artifact-id=$(mvn help:evaluate -Dexpression=project.artifactId -q -DforceStdout)" | tee -a $GITHUB_OUTPUT
          echo "sha-short=$(git rev-parse --short HEAD)" | tee -a $GITHUB_OUTPUT

      - name: Print module information to job summary
        run: |
          {
            echo "Head commit SHA: ${{ steps.vars.outputs.sha-short }}"
            echo "artifact-id: ${{ steps.vars.outputs.artifact-id }}"
          } | tee -a $GITHUB_STEP_SUMMARY

      - name: (Release only) Discover release dependencies that are snapshots
        if: ${{ inputs.is-release == 'True' }}
        run: mvn dependency:list | { grep -i snapshot | tee snapshots.txt || true; }

      - name: (Release only) Report release dependencies that are snapshots
        if: ${{ inputs.is-release == 'True' && inputs.allow-snapshots-release == 'True' }}
        run: if [ -s snapshots.txt ]; then exit 1; fi

      - name: Maven build
        run: mvn --update-snapshots clean org.jacoco:jacoco-maven-plugin:prepare-agent install org.jacoco:jacoco-maven-plugin:report

      - name: Upload all jars as build artifact
        uses: actions/upload-artifact@v6
        with:
          name: built-jars
          path: target/**/*.jar
          retention-days: 1

      - name: Discover maven built apidocs
        id: discover-apidocs
        run: |
          if test -d "target/apidocs"; then
            echo "has-maven-apidocs=True" | tee -a $GITHUB_OUTPUT
          fi

      - name: Upload apidocs as build artifact
        uses: actions/upload-artifact@v6
        if: ${{ steps.discover-apidocs.outputs.has-maven-apidocs == 'True' }}
        with:
          name: apidocs
          path: target/apidocs
          retention-days: 1

      - name: Upload additional build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: build-artifacts
          path: |
            target
            !target/**/*.jar
            !target/apidocs
          retention-days: 1

      - name: Discover Dockerfile
        id: discover-docker
        # TODO: Enable lower-level Dockerfile, specified via project input variable. FOLIO-4424
        run: |
          if test -f "Dockerfile"; then
            echo "has-docker=True" | tee -a $GITHUB_OUTPUT
            echo "has-docker=True" >> $GITHUB_STEP_SUMMARY
          else
            echo "has-docker=False" | tee -a $GITHUB_OUTPUT
            echo "has-docker=False (only looking for top-level, see README)" >> $GITHUB_STEP_SUMMARY
          fi
