name: Run SonarCloud Analysis

env:
  SONAR_VERSION: "5.5.0.6356" # https://github.com/SonarSource/sonar-scanner-maven/releases

on:
  workflow_call:
    inputs:
      is-main-branch:
        required: true
        type: string
      branch-name:
        required: true
        type: string
      java-version:
        required: true
        type: string
      sonar-exclusions:
        required: true
        type: string
    secrets:
      SONAR_TOKEN:
        required: true # fails the check if the PR is from a fork

jobs:
  sonar:
    name: SonarCloud Analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Retrieve build artifacts
        uses: actions/download-artifact@v6
        with:
          name: build-artifacts
          path: target

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: ${{ inputs.java-version }}
          distribution: "temurin"

      - name: Cache Sonar packages
        uses: actions/cache@v5
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Maven packages
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven

      - name: Format Sonar exclusions list
        id: format-exclusions
        run: echo formatted=$(tr -d '[:blank:]' <<< "${{ inputs.sonar-exclusions }}") | tee -a $GITHUB_OUTPUT

      - name: Run SonarCloud scan (v${{ env.SONAR_VERSION }})
        run: |
          if ${{ github.event_name == 'pull_request' }}; then
            echo "Do sonar for pull_request ..."
            mvn -B org.sonarsource.scanner.maven:sonar-maven-plugin:${{ env.SONAR_VERSION }}:sonar \
              -Dsonar.verbose=true \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.organization=${{ github.repository_owner }} \
              -Dsonar.projectKey=org.folio:${{ github.event.repository.name }} \
              -Dsonar.projectName=${{ github.event.repository.name }} \
              -Dsonar.exclusions=${{ steps.format-exclusions.outputs.formatted }} \
              -Dsonar.java.binaries=target/classes \
              -Dsonar.pullrequest.base=${{ github.base_ref }} \
              -Dsonar.pullrequest.branch=${{ inputs.branch-name }} \
              -Dsonar.pullrequest.key=${{ github.event.pull_request.number }} \
              -Dsonar.pullrequest.provider=github \
              -Dsonar.pullrequest.github.repository=${{ github.repository }}
          elif ${{ inputs.is-main-branch == 'True' }}; then
            echo "Do sonar for main branch ..."
            mvn -B org.sonarsource.scanner.maven:sonar-maven-plugin:${{ env.SONAR_VERSION }}:sonar \
              -Dsonar.verbose=true \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.organization=${{ github.repository_owner }} \
              -Dsonar.projectKey=org.folio:${{ github.event.repository.name }} \
              -Dsonar.projectName=${{ github.event.repository.name }} \
              -Dsonar.exclusions=${{ steps.format-exclusions.outputs.formatted }} \
              -Dsonar.java.binaries=target/classes
          else
            echo "Do sonar for other branch ..."
            git fetch --no-tags --no-recurse-submodules ${{ github.server_url }}/${{ github.repository }} \
              +refs/heads/${{ github.event.repository.default_branch }}:refs/remotes/origin/${{ github.event.repository.default_branch }}
            mvn -B org.sonarsource.scanner.maven:sonar-maven-plugin:${{ env.SONAR_VERSION }}:sonar \
              -Dsonar.verbose=true \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.organization=${{ github.repository_owner }} \
              -Dsonar.projectKey=org.folio:${{ github.event.repository.name }} \
              -Dsonar.projectName=${{ github.event.repository.name }} \
              -Dsonar.exclusions=${{ steps.format-exclusions.outputs.formatted }} \
              -Dsonar.java.binaries=target/classes \
              -Dsonar.branch.name=${{ inputs.branch-name }}
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
