name: Maven report testing variables

on:
  workflow_call:
    inputs:
      repo-name:
        required: true
        type: string
      is-release:
        required: true
        type: string
      is-main-branch:
        required: true
        type: string
      java-version:
        required: true
        type: string
      artifact-version:
        required: true
        type: string
      project-version:
        required: true
        type: string
      do-docker:
        required: true
        type: boolean
      publish-module-descriptor:
        required: true
        type: boolean
      allow-snapshots-release:
        required: true
        type: boolean
      docker-registry:
        required: true
        type: string
      do-docker-push:
        required: true
        type: string

jobs:
  run:
    name: Report testing variables
    runs-on: ubuntu-latest

    steps:
      - name: Show some variables
        run: |
          echo "repo-name=${{ inputs.repo-name }}"
          echo "is-main-branch=${{ inputs.is-main-branch }}"
          echo "github.ref=${{ github.ref }}"
          echo "is-release=${{ inputs.is-release }}"
          echo "java-version=${{ inputs.java-version }}"
          echo "do-docker=${{ inputs.do-docker }}"
          echo "publish-module-descriptor=${{ inputs.publish-module-descriptor }}"
          echo "allow-snapshots-release=${{ inputs.allow-snapshots-release }}"
          echo "project-version=${{ inputs.project-version }}"
          echo "artifact-version=${{ inputs.artifact-version }}"
          echo "docker-registry=${{ inputs.docker-registry }}"
          echo "do-docker-push=${{ inputs.do-docker-push }}"


