name: FOLIO UI Install Packages

on:
  workflow_call:
    inputs:
      # yarn configuration
      node-version:
        required: true
        type: string
      folio-npm-registry:
        required: true
        type: string
      yarn-lock-retention-days:
        required: true
        type: number
      # linting
      allow-lint-errors:
        required: true
        type: boolean

jobs:
  run:
    name: Install and lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          show-progress: false # spammy

      - name: Install Node ${{ inputs.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
          check-latest: true
          always-auth: true

      - name: Set FOLIO NPM registry
        run: yarn config set @folio:registry ${{ inputs.folio-npm-registry }}

        # We must check if a yarn.lock exists, as we do not want to add --frozen-lockfile if there is no lockfile.
      # Just adding this flag when there is no lockfile would normally cause no issues, however, it will prevent a lockfile
      # from being generated if one does not exist. This breaks publication of the `yarn.lock` artifact (and use of `yarn list`).
      - name: Check if lockfile should be frozen
        id: check-yarn-lock
        run: echo install-args=$(test -f yarn.lock && echo --frozen-lockfile) | tee -a $GITHUB_OUTPUT

      - name: Install dependencies
        run: yarn install ${{ steps.check-yarn-lock.outputs.install-args }} --ignore-scripts --non-interactive

      - name: List installed FOLIO package versions
        run: yarn list --pattern @folio

      - name: Publish yarn.lock
        uses: actions/upload-artifact@v4
        with:
          name: yarn.lock
          path: yarn.lock
          retention-days: ${{ inputs.yarn-lock-retention-days }}

      # TODO: something like https://github.com/marketplace/actions/lint-action would be cool
      # Particularly as we consider something like Prettier
      - name: Lint
        run: yarn lint
        continue-on-error: ${{ inputs.allow-lint-errors }}
