name: FOLIO UI Compile Translations

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: string
      folio-npm-registry:
        required: true
        type: string

jobs:
  run:
    name: Compile translations
    runs-on: ubuntu-latest

    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          show-progress: false # spammy

      - name: Install Node ${{ inputs.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
          check-latest: true
          always-auth: true

      - name: Set FOLIO NPM registry
        run: yarn config set @folio:registry ${{ inputs.folio-npm-registry }}

      - id: get-version
        name: Get current @folio/stripes-cli version
        run: echo version=$(jq -r '.devDependencies["@folio/stripes-cli"]' package.json)

      # we do it this way to avoid installing all modules
      - name: Install @folio/stripes-cli
        run: |-
          rm package.json
          yarn add @folio/stripes-cli@${{ steps.get-version.outputs.version }}
          git checkout package.json

      - name: Compile translations
        run: yarn stripes translate compile

      - name: Publish translations
        uses: actions/upload-artifact@v5
        with:
          name: translations
          path: translations/*/compiled
