name: FOLIO UI Unit Tests (Jest)

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: string
      folio-npm-registry:
        required: true
        type: string
      jest-test-command:
        required: true
        type: string
      jest-junit-output-dir:
        required: true
        type: string
      jest-coverage-report-dir:
        required: true
        type: string

jobs:
  run:
    name: Run Jest tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          show-progress: false # spammy

      - name: Install Node ${{ inputs.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
          check-latest: true
          always-auth: true

      - name: Set FOLIO NPM registry
        run: yarn config set @folio:registry ${{ inputs.folio-npm-registry }}

      - name: Install dependencies
        run: yarn install --frozen-lockfile --ignore-scripts --non-interactive

      - name: Run Jest tests
        run: ${{ inputs.jest-test-command }}
        env:
          # needed for projects that do not specify in package.json
          # see https://github.com/jest-community/jest-junit?tab=readme-ov-file#configuration
          JEST_JUNIT_OUTPUT_DIR: ${{ inputs.jest-junit-output-dir }}

      - name: Publish Jest unit test results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: ${{ !cancelled() }}
        with:
          check_name: Jest Unit Test Results
          files: '${{ inputs.jest-junit-output-dir }}/*.xml'

      - name: Publish Jest coverage report
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: jest-coverage-report
          path: ${{ inputs.jest-coverage-report-dir }}
          retention-days: 5
